// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}